
<Configuration status="warn">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

  
    <Loggers>
		<!-- avoid duplicated logs with additivity=false -->

        <Logger name="org.example.App" level="trace" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>


      
        <Root level="trace">
            <AppenderRef ref="LogToConsole"/>
        </Root>


      
    </Loggers>
</Configuration>
